.crypto {
    position: relative;
    background-color: #555;
    min-height: 100vh;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    padding: 1rem;
    text-align: center;
    background-color: #000;
}

.main-header h1 {
    color: #fff;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
}

.main-header i.fab {
    color: #ff9900;
    font-size: 10rem;
    animation: logo-rotate 3s linear infinite;
}

@keyframes logo-rotate{
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.search-box {
    position: absolute;
    overflow: hidden;
    top: 35vh;
    right: 5%;
    width: 23px;
    font-size: 1.6rem;
    line-height: 150%;
    color: transparent;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
    background-color: #ff9900;
    border: 2px solid black;
    border-radius: 50px;
    transition: width 0.1s linear;
    cursor: pointer;
}

.search-box::placeholder{
    color: #444;
    font-size: 1.2rem;
    opacity: 0;
}

.search-box:focus {
    outline: none;
    width: 200px;
    cursor: text;
    color: #000;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid black;
    transition: width 0.3s linear;
    background-position: 95% center;
}

.search-box:focus::placeholder {
    opacity: 1;
}

